---
import BaseLayout from '../layouts/BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
const sorted = posts.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});
---
<BaseLayout title="All posts">
  <div class="container">
    <div class="row">
      <Sidebar />
      <div class="content">
        <h1>All Data Science Projects</h1>
        {sorted.map(post => (
          <PostCard
            title={post.data.title}
            slug={post.id}
            thumbnail={post.data.thumbnail}
            category={post.data.category}
            tags={post.data.tags}
            date={post.data.date}
            summary={post.data.summary}
          />
        ))}
      </div>
    </div>
  </div>
</BaseLayout>
