---
import { getCollection } from 'astro:content';
import { site } from '../data/load';

const posts = await getCollection('posts');
const featured = posts.filter(p => p.data.featured).sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99));
---
<aside class="sidebar">
  <div class="card sidebar-card">
    <img src={site.profilePic} alt={site.name} class="profile-pic" />
    <div class="site-description">
      {site.bio.map(line => (
        <p set:html={line.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>')} />
      ))}
      <p>
        {site.beliefs.title}<br />
        {site.beliefs.items.map(item => <>{item}<br /></>)}
      </p>
      <p>
        Hit me up!<br />
        {site.email}
      </p>
    </div>
    <div class="grey-rule"></div>
    <div class="social-links">
      {site.socialLinks.map(link => (
        <a href={link.url} target="_blank">
          <img src={link.icon} alt={link.label} />
        </a>
      ))}
    </div>
    {featured.length > 0 && (
      <>
        <h2 class="small-heading">Featured Posts:</h2>
        {featured.map(post => (
          <a href={`/posts/${post.id}`} class="featured-link">{post.data.title}</a>
        ))}
      </>
    )}
    <div class="grey-rule"></div>
  </div>
</aside>
